@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');



*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

/* ---------------------navbar styling------------------- */
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar {
    position:fixed;
    width: 100%;
    z-index: 999;
    padding:30px 0;
    /* background: linear-gradient(#000428, #004e92); */
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    opacity: 0;
}

.navbar.sticky {
    padding: 30px 0;
    background: linear-gradient(#000428, #004e92);
}


.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color : white;
    font-size: 35px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar .logo a span{
    color:linear-gradient(#000428, #004e92);
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
    color: white;
    

}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display:block;
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover {
    color: #004e92;
}
.navbar.sticky .menu li a:hover {
    color:white;
}

/* menu btn styling */

.menu-btn {
    color:white;
    font-size: 23px;
    cursor: pointer;
    display:none;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: linear-gradient(#000428, #004e92);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: white;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;

}

.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}



/* --------------------------------Home Section--------------------------- */

.home {
    display:flex;
    background: url(images/background.jpeg) ;
    height: 100vh;
    color: white;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}


.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
    opacity: 0;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
    opacity: 0;
}
.home .home-content .text-3 {
    font-size: 40px;
    margin:5px 0;
    opacity: 0;
}

.home .home-content .text-3 span {
    color: #035094;
    font-weight: 1000;
    -webkit-text-stroke: 1px black;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}





/* -------------------------Universal Styles----------------------- */

section {
    padding: 100px 0;
}

.about, .services, .skills, .projects .contact, footer {
    font-family: 'Poppins', sans-serif;
}

.about .about-content, 
.services .serv-content,
.skills .skills-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after {

    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: #004e92;
    background: #fff;
    transform: translateX(-50%);
}


/* --------------------About Section---------------------- */


.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 1em;
   
    
}




.about .title::after {
    content:"Who I Am"
}


.about .about-content .left{
    width: 45%;
}

.about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right{
    width: 55%;
}

.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span{
    color:  #ff0000;
    -webkit-text-stroke: 1px black;
    text-shadow:
       1px 1px 0 #000,
    -.5px -.5px 0 #000,  
      .5px -.5px 0 #000,
      -.5px .5px 0 #000,
       .5px .5px 0 #000;
}


.about .about-content .right p {
    text-align: justify;
}







/* -----------------------Services Section-------------------- */

.services, .projects {
    color:white;
    background: #111;
}

.services .title::before,
.projects .title::before {
    background: white;
}
.services .title::after,
.projects .title::after {
    background: #111;
    content: "What I Provide";

}

.services .serv-content .card {
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    transition: all 0.3s ease;
    height: 300px;
    
}


.services .serv-content .card:hover{
    background: linear-gradient(#000428, #004e92);
}


.services .serv-content .card .box {
    transition: all 0.3s ease;
}

.services .serv-content .card:hover .box {
    transform: scale(1.05);
}
.services .serv-content .card i{
    font-size: 50px;
    color:#ff0000;
    transition: color 0.3s ease;
    -webkit-text-stroke: 1px black;
    text-shadow:
    3px 3px 0 #000,
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
    
}

.services .serv-content .card:hover i{
    color: white;
}

.services .serv-content .card .text{
    font-size:25px;
    font-weight: 500;
    margin: 10px 0 7;
    
}



h3 {
    font-size: 40px !important;
}

.list {
    font-size: 40px !important;
    -webkit-text-stroke: 1px black;
   color: rgb(252, 0, 0);
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}



/* -------------Skills Section----------------*/
.skills .title::after{
    content: "What I Know";
}

.skills .skills-content .column{
    width: calc(50% - 30px)
}

.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .right .bars {
    margin-bottom: 15px;
}

.skills .skills-content .right .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right span {
    font-weight: 500;
    font-size: 18px;
}

#img {
height: 5rem;
}

.skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background: black;
}

.about-line {
    margin-top: 30px;
    height: 5px;
    width: 100%;
    background: linear-gradient(#000428, #004e92);
}


/* Projects Section */

.projects .title::after {
    content:"What I've Done"
}

.projects .carousel .card {
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;

}

.projects .carousel .card:hover  {
    background:linear-gradient(#000428, #004e92) ;

}
.projects .carousel .card .box {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    height:400px;
    
    
    
}

.projects .carousel .card:hover .box{
    transform: scale(1.05);
    
    
}

.projects .carousel .card .text {
    font-size: 19px;
    font-weight: 500;
    margin: 10px 0 20px 0;
    color:rgb(163, 163, 163);
    font-family:  "bungee";
    text-decoration: underline 4px;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
   
    
}



.projects .carousel .card img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #004e92;
    transition: all 0.3s ease;
    align-items: center;
}

.projects .carousel .card:hover img{
    border-color:white;

}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none !important;
    border-radius: 50px;
    border: 2px solid  #004e92!important;
    transform: all 0.3s ease;
}

.owl-dot.active {
    width: 35px;
    border-radius: 14px;
}

.owl-dot.active, .owl-dot:hover {
    background: linear-gradient(#000428, #004e92) !important;
}

.description{
    height: 200px;
}




/* Contact Section */

.contact .title::after{
    content:"Get In Touch"
}

.contact .contact-content .column {
    width: calc(50% - 30px)
}

.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left icons{
    margin: 10px, 0;
}
.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin-left: 30px;
}
.contact .contact-content .row i {
    font-size: 25px;
    color:  #ff0000;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;

}

.contact .contact-content .info .head {
    font-weight: 500;
}
.contact .contact-content .info .sub-title {
    color: #333;
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea {
    height: 100px;
    width: 100%;
}
.contact .right form .name {
    margin-right: 10px ;
}

.contact .right form .email {
    margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: "Poppins", sans-serif;

}


.contact .right form .textarea textarea {
    padding-top:10px;
    resize: none;
}


.contact .right form .button {
    height: 47px;
    width: 170px;
}

.contact .right form .button button {
    width: 100%;
    height: 100%;
}

/* footer */

footer{
    background: #111;
    padding: 20px 23px;
    color: white
}

footer span a{
    color: #004e92;
    text-decoration: none;
}

footer span a:hover{
    text-decoration: underline;
}


/* Responsive media query */
@media (max-width: 1300px){
    .home .max-width{
        margin-left: 0px;
    }
}
@media (max-width: 1104px){
    .about .about-content .left img {
        height: 350px;
        width: 350px;
        
    }
}


@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}


@media (max-width: 947px) {
    .max-width{
        padding: 0 50px;
    }
    .menu-btn {
        display:block;
        z-index:999;
    }

    .menu-btn i.active:before {
        
        content: "\f00d";
        font-weight: 900;
    }

    .navbar .menu {
        position:fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top:80px ;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }

    .navbar .menu li{
        display: block;
    }

    .navbar .menu li a{
       display: inline-block;
       margin: 20px 0;
       font-size: 25px; 
    }

    .home .home-content .text-2 {
        font-size: 70px;
    }

    .home .home-content .text-3 {
        font-size: 35px;
    }

    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width {
            max-width: 800px;
        }

    .about .about-content .column {
        width: 100%;
    }

    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right {
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }
  
}



@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }

    .home .home-content .text-2 {
        font-size: 60px;
    }
    
    .home .home-content .text-3 {
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 8px 20px;
    }
    .services .serv-content .card{
        width: 100%;
       
    }
   
    
    
}

@media (max-width: 500px) {


    .home .home-content .text-2 {
        font-size: 50px;
    }
    
    .home .home-content .text-3 {
        font-size: 27px;
    }
}